body{
    background-color: rgb(24, 62, 77);
    font-size: 23px;
    font-weight: bold;    
}
.proga{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loush{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.loading{
    font-family: sans-serif;
    text-align: center;
    width: 300px;
}
.def{
    display: flex;
    justify-content: center;
}
.btn-right {
    margin-left: 20px;
    color: white;
    font-size: 30px;
}

.btn-left {
    margin-right: 15px;
    color: white;
    font-size: 30px;
}
.message{
    color: rgb(40, 234, 40);
    text-align: center;
}
.next:hover {
    font-size: 40px;
}
.kol-vo{
    font-family: sans-serif;
}
.signal button:hover {
    color: orange;
    background-color: black
}
.signal button {
    font-family: sans-serif;
    color: white;
    font-size: 23px;
    padding: 15px;
    background-color: orange;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.next {
    background: none;
    border: none;
}
h1 {
    cursor: default;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: auto;
    display: block;
    text-align: center;
}

h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    -webkit-animation: bounce 0.3s ease infinite alternate;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
        0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
            0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
            0 50px 25px rgba(0, 0, 0, 0.2);
    }
}